@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	background-color: #1a2026;
	margin: 0;
	touch-action: pan-y;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-select: none;
}

@layer utilities {
	.no-arrows::-webkit-outer-spin-button,
	.no-arrows::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.no-arrows[type='number'] {
		-moz-appearance: textfield;
	}

	.right-caret::after {
		content: '';
		background-image: url('/right-caret.svg');
		background-position: 0 center;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 12px;
		width: 8px;
	}

	.down-caret::after {
		content: '';
		background-image: url('/down-caret.svg');
		background-position: 0 center;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 11px;
	}

	.checked::after {
		content: '';
		background-image: url('/checked.svg');
		background-position: 0 center;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: 12px;
		bottom: 0;
		right: 10px;
		height: 8px;
		width: 12px;
	}

	.asset-checked::after {
		content: '';
		background-image: url('/checked.svg');
		background-position: 0 center;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: 18px;
		bottom: 0;
		right: 10px;
		height: 8px;
		width: 12px;
	}

	.blurred {
		filter: blur(2px) opacity(40%);
	}

	.backdrop-blurred {
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
	}

	.fixed-button {
		bottom: calc(var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
	}
}
